.chart-container-item {
  border-bottom: .1rem #1c1d1f solid;
  margin-bottom: 30px;
  margin-top: 30px;
}

.chart-container-item:last-child {
  border: none;
}

.radio-container {
  color: black;
  padding: 10px;
}

.radio-title {
  padding: 10px;
  font-weight: bold;
}

